<div ng-controller="ArtPortfolioCtrl" class="project-page">
  <div class="project-header">
    <a href="http://localhost:9000/#/#projects" class="project-close"><i class="fa fa-fw fa-times-circle-o fa-2x"></i></a>
    <h2>Art Portfolio</h2>
  </div>
  <div class="project-description">
    <p>I made this website to showcase a friends photography & artwork. This Java app was built with MySQL, dropwizard, and angular. Making this app allowed me to stand up the full stack of a web application, from the database to the front-end.
    When this site launches, I will probably drop the database & backend for cheaper/easier hosting, but I enjoyed setting up the database and running the queries for the live search.</p>
  </div>
  <img src="images/am-search.png" alt="photo search" class="portfolio-photo">
  <img src="images/am-photography.png" alt="photography page" class="portfolio-photo">
</div>
