<div>
<section id="home">
  <div> <!--class="cover" -->
    <div class="top-overlay">
      <div class="row">
        <div class="name-header">
          <!--<img src="/images/name-logo-2.png" class="name-image"/>-->
          <img src="/images/watercolor-name2.png" class="name-image"/>
        </div>
      </div>
      <div class="container top-section">
        <div class="row">
          <div class="col-md-5">
            <img class="nav-about heading" src="/images/about2.png"/>

            <ul class="list-inline">
              <li>
                <a href="https://plus.google.com/+KelseyKerr1[plus.google.com]" class="btn-social btn-outline"><i
                  class="fa fa-fw fa-google-plus fa-lg"></i></a>
              </li>
              <li>
                <a href="http://github.com/kelseykerr[github.com]" class="btn-social btn-outline"><i
                  class="fa fa-fw fa-github fa-lg"></i></a>
              </li>
              <li>
                <a href="http://www.linkedin.com/pub/kelsey-kerr/89/784/661[linkedin.com]"
                   class="btn-social btn-outline"><i
                  class="fa fa-fw fa-linkedin fa-lg"></i></a>
              </li>
            </ul>

            <p>Sed cursus mauris ut tristique efficitur. Proin et dui ante. Quisque sed metus eget lectus maximus
              ultrices. Duis vehicula est a magna porttitor sollicitudin eu vel est. Cras sagittis diam quis velit
              rutrum eleifend.</p>

            <p>Fusce a lacus et nulla varius hendrerit. Morbi congue nunc sed metus tincidunt, eu rutrum sapien mollis.
              Proin ut imperdiet odio. In pharetra nisi id est convallis sodales. Maecenas a dictum elit, at mattis
              nisl.</p>
          </div>
          <div class="col-md-6 col-md-offset-1">
            <img class="nav-contact heading" src="/images/contact2.png"/>

            <form ng-submit="home.submitEmail(contactForm)" name="contactForm" class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputName" class="col-md-2">Name</label>

                <div class="col-md-10">
                  <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName"
                         placeholder="Your Name" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-md-2">Email</label>

                <div class="col-md-10">
                  <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail"
                         name="inputEmail" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputMessage" class="col-md-2">Message</label>

                <div class="col-md-10">
                  <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage"
                            name="inputMessage" placeholder="Your message..." required></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
                    Send Message
                  </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Projects Grid Section
<section id="projects" class="page-section">
  <div class="project-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projects</h2>

        <div class="col-lg-12 text-center">
        </div>
        <div class="row">

          <div class="col-sm-6 project-item">
            <a href="#/art-portfolio" class="project-link" data-toggle="modal">
              <img src="images/am-mac-display.png" class="image-responsive" alt="">
            </a>
            <a href="#/art-portfolio" class="overlay"></a>
          </div>

          <div class="col-sm-6 project-item">
            <a href="#portfolioModal4" class="project-link" data-toggle="modal">
              <img src="images/tender-expense-display.png" class="image-responsive" alt="">
            </a>
            <a href="#portfolioModal4" class="phone-overlay"></a>
          </div>

          <div class="col-sm-6 project-item">
            <a href="#/regex" class="project-link" data-toggle="modal">
              <img src="images/regex-generator-display.png" class="image-responsive" alt="">
            </a>
            <a href="#/regex" class="overlay"></a>
          </div>

          <div class="col-sm-6 project-item">
            <a href="#portfolioModal3" class="project-link" data-toggle="modal">
              <img src="images/tender-expense-display.png" class="image-responsive" alt="">
            </a>
            <a href="#portfolioModal3" class="phone-overlay"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Resume Section
<section id="resume" class="page-section">
  <div class="row">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2>Resume</h2>
      </div>
    </div>
  </div>
</section> -->

  <section class="footer">
    <!-- Footer -->
    <div class="text-center">
      <div class="row">
        <div class="footer-col">
          <ul class="list-inline">
            <li>
              <a href="https://plus.google.com/+KelseyKerr1[plus.google.com]" class="btn-social btn-outline"><i
                class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li>
              <a href="http://github.com/kelseykerr" class="btn-social btn-outline"><i
                class="fa fa-fw fa-github"></i></a>
            </li>
            <li>
              <a href="http://www.linkedin.com/pub/kelsey-kerr/89/784/661" class="btn-social btn-outline"><i
                class="fa fa-fw fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <p>Copyright &copy; 2016 Kelsey Kerr</p>
    </div>
  </section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
</div>
